* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 60px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

header {
  height: 845px;
  background: #999 url(../img/header.jpg) top center no-repeat;
  border-bottom: 1px solid #33253a;
}

.wrapper_main {
  position: relative;
  max-width: 960px;
  width: 100%;
  height: 280px;
  margin: 0 auto;
  padding-top: 69px;
}

.col-lg-2,
.col-lg-4,
.col-lg-5,
.col-lg-7,
.col-lg-8,
.col-lg-10 {
  padding: 0;
}

.logo{
  margin-top: -17px;
}
.nav-bar-top {
  position: relative;
}

.nav-bar__item {
  list-style-type: none;
  display: inline-block;
  margin-left: 47px;
}

.nav-bar__item:first-child {
  margin-left: 6px;
}

.nav-bar__link {
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.nav-bar__link:hover {
  border-bottom: 2px solid #edbfff;
}

.slider {
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
}

.wrapper-slider {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.slider__item {
  margin-top: 76px;
  font-family: "League Gothic", Arial, sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.slider__text1 {
  color: white;
  font-size: 60px;
  line-height: 36px;
  margin-bottom: 2px;
  text-transform: capitalize;
  letter-spacing: -0.009em;
}

.slider__text2 {
  color: #edbfff;
  font-size: 32px;
  line-height: 1em;
  margin-top: -2px;
  text-transform: uppercase;
  letter-spacing: -0.002em;
}

.slider__text3 {
  margin-top: -7px;
  padding-right: 35px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 18px;
  color: white;
  line-height: 1.35;
}

.slider__img {
  margin: -19px 0px 0px 54px;
}

.slider__button {
    position: absolute;
    margin-top: -21px;
    top: 50%;
    height: 42px;
    width: 30px;
    background: url('../img/carousel_arrow.png') 0 0 no-repeat;
}

.slider__button--left {
    left: 0;
    margin-left: 148px;
}

.slider__button--right {
    right: 0;
    margin-right: 148px;
    background-position: -31px  0;
}

.slider__buttons {
    margin-left: 57%;
    text-align: center;
    list-style: none;
    letter-spacing: 2px;
}

.slider__buttons li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 77px 1px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor:pointer;
}

.slider__buttons li.current:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 100%;
    background: -moz-linear-gradient(top,  #f5f5f5 18%, #dedede 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5f5f5 18%,#dedede 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5f5f5 18%,#dedede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
    position: relative;
}

.about-section {
  height: 342px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
  background-image: linear-gradient(to top, #322539 0%, #745083 100%);
  border-bottom: 1px solid #0d151b;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.about_all {
  max-width: 960px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 76px 0px 0px 0px;
}

.about-inner {
  padding-left: 62px;
  position: relative;
}

.about-inner:nth-child(2) {
  padding-left: 81px;
}

.about-inner:nth-child(3) {
  padding-left: 97px;
}

.about__title {
  margin-bottom: 7px;
  position: relative;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #000;
}

.about__text {
  margin-bottom: 17px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

.about__link {
  margin-left: 162px;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.about__link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.about__title:before,
.about__title_second:before,
.about__title_third:before {
  content: '';
  position: absolute;
  top: 11px;
  left: -48px;
  width: 25px;
  height: 25px;
  background: url(../img/middleicons.png) no-repeat;
}

.about__title_second:before {
  width: 30px;
  background-position: -25px 0px;
}

.about__title_third:before {
  background-position: -55px 0px;
}

.white {
  height: 490px;
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper-updates {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0px 0px 0px;
}

.carousel__item {
  padding: 33px 42px;
  margin-left: 8px;
  position: relative;
  width: 430px;
  height: 275px;
  background-color: #fff;
}

.carousel__item:after {
  content: '';
  position: absolute;
  left: 380px;
  top: 275px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

.carousel__image {
  position: absolute;
  left: -22px;
  top: 20px;
}

.carousel__title {
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #454545;
  text-shadow: 1px 1px 0 white;
}

.carousel__title span {
  color: #edbfff;
}

.carousel__text {
  padding-top: 13px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
  color: #454545;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 0 white;
}

.updates {
  padding: 33px 0px 0 30px;
}

.updates__title {
  margin-bottom: 20px;
  color: #454545;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 white;
}

.updates__item {
  position: relative;
  padding-left: 67px;
  margin-bottom: 17px;
}

.updates__image {
  position: absolute;
  left: 0;
}

.updates__subtitle {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #454545;
  line-height: 24px;
  text-shadow: 1px 1px 0 white;
}

.updates__info {
  font-family: "Open Sans", Arial, sans-serif;
  color: #454545;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-shadow: 1px 1px 0 white;
}

.updates__link {
  margin: 5px 0px 0px 346px;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 18px;
  color: #454545;
  text-transform: uppercase;
  line-height: 24px;
  text-shadow: 1px 1px 0 white;
}

.updates__link:hover {
  text-decoration: none;
  color: #454545;
}

.carousel__buttons {
    position: absolute;
    margin-left: 37%;
    bottom: -55px;
    text-align: center;
    list-style: none;
    letter-spacing: 2px;
}

.carousel__buttons li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 1px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #e8e8e8;
    cursor:pointer;
}

.carousel__buttons .this:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    margin: 1px;
    border-radius: 100%;
    background: -moz-linear-gradient(top,  #7a7a7a 18%, #4a4a4a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7a7a7a 18%,#4a4a4a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7a7a7a 18%,#4a4a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
    position: relative;
}

.partners {
  height: 121px;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
}

.wrapper_partners {
  max-width: 960px;
  margin: 0 auto;
}

.partners__main {
  text-align: center;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 124px;
}

.partners__item {
  display: block;
  margin: 0px 3.2%;
  vertical-align: middle;
  width: 70px;
  height: 64px;
}

.bfrfooter {
  height: 397px;
  width: 100%;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}

.wrapper_bfrfooter {
  max-width: 960px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 97px 0px;
}

.category {
  padding-left: 20px;
}

.category__news {
  padding-left: 40px;
}

.category__main_title {
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 48px;
  color: #454545;
  text-transform: uppercase;
  line-height: 34px;
  text-shadow: 0 1px 0 white;
}

.category_title_color {
  color: #b9b9b9;
}

.category__main_copyright {
  padding: 20px 0px 5px;
  font-family: Georgia, Arial, sans-serif;
  font-size: 16px;
  color: #c5c5c5;
  font-style: italic;
  line-height: 24px;
  text-shadow: 1px 1px 0 white;
}

.category__main_text,
.category__text {
  padding-right: 20px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
  color: #787878;
  letter-spacing: -0.01em;
  line-height: 24px;
  text-shadow: 1px 1px 0 white;
}

.category__title {
  padding-bottom: 12px;
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 29px;
  color: #454545;
  text-transform: uppercase;
  line-height: 24px;
  text-shadow: 1px 1px 0 white;
}

.footer {
  height: 114px;
  background: #999 url(../img/footerbg.jpg) top center no-repeat;
}

.footer_wrapper {
  margin: 0 auto;
  padding: 40px 0px;
  max-width: 960px;
}

.nav-bar__item1 {
  list-style-type: none;
  display: inline-block;
  margin: 0px 46px 0px 0px;
}

.nav-bar__item1:first-child {
  margin-left: 6px;
}

.nav-bar__link1 {
  font-family: "League Gothic", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.nav-bar__link1:hover {
  border-bottom: 2px solid #edbfff;
}

.copy {
  padding-left: 85px;
  letter-spacing: -0.04em;
  font-family: "Open Sans", Arial, sans-serif;
  color: white;
  font-size: 13px;
  line-height: 32px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.copy span {
  font-weight: bold;
}

@media (max-width: 480px) {
  header {
    height: 516px;
  }

  .logo {
    display: inline-block;
    text-align: center;
  }

  .nav-bar {
    position: absolute;
    top: 63px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    width: 246px;
  }

  .nav-bar__item {
    display: none;
    margin: 0;
    width: 246px;
    height: 40px;
    text-align: center;
  }

  .nav-bar__item:first-child {
    margin: 0;
  }

  .nav-bar__item_home {
    display: block;
  }

  .nav-bar__link_home {
    border-bottom: 2px solid #edbfff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }

  .nav-bar:hover .nav-bar__item {
    display: block;
    background: rgba(54, 41, 62, 0.9);
    border-top: 1px solid #523f5a;
    border-bottom: 1px solid #35273d;
  }

  .nav-bar:hover .nav-bar__item:active {
    background: #2d2432;
    border-bottom: 2px solid #edbfff;
  }

  .nav-bar:hover .nav-bar__item:first-child {
    border-radius: 10px 10px 0px 0px;
  }

  .nav-bar:hover .nav-bar__item:last-child {
    border-radius: 0px 0px 10px 10px;
  }

  .nav-bar__link:active {
    border-bottom: none;
  }

  .slider {
    background: transparent;
  }

  .slider__item {
    padding-left: 65px;
    margin-top: 18px;
  }

  .slider_text1 {
    font-size: 36px;
  }

  .slider__text2 {
    font-size: 18px;
  }

  .slider__button--left {
    left: 0px;
    margin: -124px auto;
}

  .slider__button--right {
    right: 0px;
    margin: -124px auto;
    background-position: -31px  0;
}

  .slider__buttons {
    width: 100%;
    margin-left: 0px;
    bottom: -42px;
    text-align: center;
    list-style: none;
}
  .about-section {
    height: 600px;
  }

  .about__title {
    font-size: 24px;
  }

 .about__link {
    margin-left: 70%;
  }

  .about-inner,
  .about-inner:nth-child(2),
  .about-inner:nth-child(3) {
    padding-left: 81px;
  }

  .about__title:before,
  .about__title_second:before,
  .about__title_third:before {
    width: 27px;
  }

  .about__title_second:before {
    width: 30px;
    background-position: -25px 0px;
  }

  .about__text {
    margin-left: -1%;
}
  .about__title_third:before {
    background-position: -55px 0px;
  }

  .white {
    height: 788px;
  }

  .wrapper-updates {
    padding: 70px 0px 0px 0px;
  }
  .carousel__bottom {
    margin-top: -40px;
    padding: 0px 20px 0px;
    margin-left: 15px;
  }

  .carousel__item {
    width: 93%;
    padding: 23px 40px;
    height: 273px;
  }

  .carousel__title span {
    display: block;
  }

  .carousel__item:after {
    display: none;
  }

  .carousel__buttons {
    position: absolute;
    width: 100%;
    margin-left: -25px;
    bottom: -55px;
    text-align: center;
    list-style: none;
   }

   .updates {
     margin-top: 30px;
     margin-left: -13px;
     text-align: left;
   }

  .updates__link {
    margin-left: 65%;
  }
  .partners {
    height: 425px;
  }

  .partners__item {
    margin: 30px 6%;
  }

  .bfrfooter {
    display: none;
  }

  .footer {
    height: 202px;
  }

  .copy {
    text-align: center;
    padding-left: 0px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header {
    height: 548px;
  }

  .wrapper_main {
    height: 203px;
  }

  .logo {
    display: inline-block;
    text-align: center;
  }

  .nav-bar {
    position: absolute;
    top: 63px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    width: 246px;
  }

  .nav-bar__item {
    display: none;
    margin: 0;
    width: 246px;
    height: 40px;
    text-align: center;
  }

  .nav-bar__item:first-child {
    margin: 0;
  }

  .nav-bar__item_home {
    display: block;
  }

  .nav-bar__link_home {
    border-bottom: 2px solid #edbfff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }

  .nav-bar:hover .nav-bar__item {
    display: block;
    background: rgba(54, 41, 62, 0.9);
    border-top: 1px solid #523f5a;
    border-bottom: 1px solid #35273d;
  }

  .nav-bar:hover .nav-bar__item:active {
    background: #2d2432;
    border-bottom: 2px solid #edbfff;
  }

  .nav-bar:hover .nav-bar__item:first-child {
    border-radius: 10px 10px 0px 0px;
  }

  .nav-bar:hover .nav-bar__item:last-child {
    border-radius: 0px 0px 10px 10px;
  }

  .nav-bar__link:active {
    border-bottom: none;
  }

  .slider {
    height: 247px;
  }

  .slider_text1 {
    font-size: 36px;
  }

  .slider__text2 {
    font-size: 18px;
  }

  .slider__img {
    margin: -10px 0px 0px 0px;
  }

  .slider__item {
    padding: 80px 0px 0px 31px;
   }

  .about-section {
    height: 597px;
  }

  .about-inner,
  .about-inner:nth-child(2),
  .about-inner:nth-child(3) {
    padding: 0px 0px 10px 75px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__title:before,
  .about__title_second:before,
  .about__title_third:before {
    width: 25px;
    background: url(../img/middleicons.png) no-repeat;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .about__link {
    margin-left: 300px;
  }

  .white {
    height: 788px;
  }

  .carousel__item {
    margin: 0 auto;
  }

  .wrapper-updates {
    padding: 70px 0px 0px 0px;
  }

  .carousel__item:after {
    display: none;
  }

  .updates {
    padding: 92px 0px 0px 15%;
  }

  .partners {
    height: 235px;
  }

  .partners__item {
    margin: 14px 5.9%;
  }

  .bfrfooter {
    height: 670px;
  }

  .wrapper_bfrfooter {
    padding: 78px 0px;
  }

  .category__title {
    font-size: 24px;
  }

  .category__news {
    padding-left: 20px;
    margin-bottom: 53px;
  }

  .footer {
    height: 202px;
    text-align: center;
  }

  .nav-bar__item1 {
    margin: 0% 5% 20px 0%;
  }

  .nav-bar__item1:last-child {
    margin-right: 0%;
  }

  .nav-bar__link1 {
    font-size: 20px;
  }

  .copy {
    padding-left: 0px;
    text-align: center;
  }
}


@media (min-width: 768px) and (max-width: 959px) {
  header {
    height: 800px;
  }

  .logo,
  .nav-bar {
    padding-left: 20px;
  }

  .nav-bar__item {
    margin: 33px 0px 0px 45px;
  }

  .nav-bar__item:first-child {
    margin-left: 0px;
  }

  .slider__item {
    margin-top: 62px;
    padding-left: 41px;
  }

  .slider_text1 {
    font-size: 48px;
  }

  .slider__text2 {
    font-size: 24px;
    line-height: 1.6;
  }

  .slider__text3 {
    font-size: 16px;
    line-height: 1.6;
  }

  .slider__img {
    margin: -58px 0px 0px 127px;
  }

  .slider__button--left {
    left: 0px;
    margin: -15px auto;
  }

  .slider__button--right {
    right: 0px;
    margin: -15px auto;
    background-position: -31px  0;
  }

  .slider__buttons {
    position: absolute;
    bottom: 70px;
    margin-left: 70%;
    text-align: center;
    list-style: none;
  }

  .about-inner,
  .about-inner:nth-child(2),
  .about-inner:nth-child(3) {
    padding-left: 81px;
  }

  .about__title {
    margin-bottom: 0px;
    font-size: 24px;
  }

  .about__text {
    margin-bottom: 5px;
  }

  .about__link {
    margin-left: 106px;
  }

  .carousel__item {
    width: 310px;
  }

  .carousel__item:after {
    display: none;
  }

  .carousel__title {
    font-size: 24px;
  }

  .carousel__title span {
    display: block;
  }

  .updates__link {
    margin-left: 67%;
  }
  .partners__item {
    margin: 0px 2.9%;
  }

  .footer {
    height: 202px;
  }

  .copy {
    text-align: right;
  }
}
